autostart
Code
dconf
discord
enchant
eog
evolution
gedit
gnome-session
goa-1.0
gtk-3.0
gtk-4.0
ibus
krabby
nautilus
nvim
pulse
Slack
solaar
spotify
TabNine
update-notifier
.gsd-keyboard.settings-ported
gnome-initial-setup-done
mimeapps.list
monitors.xml
pavucontrol.ini
user-dirs.dirs
user-dirs.locale